@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.image-box {
  position: relative;
}
.textInput::after {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  top: -15px;
  right: 5px;
  background-color: rgba(21, 21, 21, 0.515);
  z-index: -1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.textInput:focus-within::after {
  background-color: #047857;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
.animateBg {
  animation: infinite bgMOving 70s linear both;
  -webkit-animation: infinite bgMOving 70s linear both;
}
/* @keyframes bgMOving {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
  }
} */
